body {
    margin: 0;
    padding: 0;
    font: 12px 微软雅黑, 宋体, Tahoma, Geneva, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.divf {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(40deg, #7A88FF, #7AFFAF);
    position: absolute;
    text-align: center;
}

.divs {
    width: 800px;
    min-width: 800px;
    height: 360px;
    min-height: 360px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.big {
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.normal {
    font-size: 24px;
    color: white;
}

.small {
    font-size: 14px;
    color: white;
}

.divbtmbox {
    padding: 50px;
    margin: 0 auto;
    text-align: center;
    width: 200px;
}

.divbtn {
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    width: 330px;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    line-height: 60px;
    border-radius: 50px;
    z-index: 1;
}

.divbtn::before {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 50px;
    filter: blur(10px);
    z-index: -1;
}


.divbtn:hover::before{
    animation: sun 8s infinite;
}

.divbtn:hover {
    animation: sun 8s infinite;
}

@keyframes sun {
    100% {
        background-position: -400% 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    /*初始状态 透明度为0*/
    100% {
        opacity: 1;
    }
    /*结束状态 透明度为1*/
}

@-webkit-keyframes fade-in {
    /*针对webkit内核*/
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.divs {
    animation: fade-in;
    /*淡入效果*/
    animation-duration: 3s;
    /*动画持续时间*/
    -webkit-animation: fade-in 3s;
    /*针对webkit内核*/
}